<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e2e6824641.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="homes.scss" />
    <title>WebCampBackendNew</title>
  </head>

  <body>
    <header>
      <h1>ようこそ<strong>Bookers</strong>へ！</h1>
    </header>

    <main>
      <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
      <p></p>
      <p>印象を共有し交換することができます</p>
    </main>

    <footer>
      <p><a href="/books">start</a></p>
    </footer>
  </body>
</html>